.itemContainer{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}


.imgStyle{
    height: 200px;
    width: 200px;
    background-color: green;
}

.detailsStyle{
    width: 80%;
    background-color: chartreuse;
}



.itemPriceStyle{
    background-color: chocolate;
}