.itemContainer{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}


.imgStyle{
    height: 200px;
    width: 200px;
    background-color: green;
}

.detailsStyle{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;;
    width: 80%;
    background-color: chartreuse;
}

.quanityStyle{
    display: flex;
    justify-content: flex-start;
}

.itemPriceStyle{
    background-color: chocolate;
}