.shoppingCardPageContainer{
    background-color: rgb(204, 203, 203);
    display: flex;
   border: black 1px solid;
   min-height: 100vh;
   
}

.productsListContainer{
    width: 70%;
    background-color: white;
}

.checkoutContainer{
    margin-left: 25px;
    width: 30%;
    background-color: white;
}