.shoppingCardPageContainer{
    background-color: rgb(204, 203, 203);
    display: flex;
   border: black 1px solid;
   min-height: 100vh;
   
}

.shoppingCardContainer{
    border: 1px solid white;
    border-radius: 15px;
    margin: 10px;
    width: 70%;
    background-color: white;
}

.checkoutContainer{
    margin: 10px 10px 500px 10px;
    width: 30%;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
}

.headerContainer{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
   
}

.titleStyle{
    font-size: larger;
    font-weight: 600;
}

.priceStyle{
    margin-top: 20px;
}

.shoppingCardItemsContainer{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.itemContainer{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.detailsStyle{
   
    width: 80%;
    background-color: chartreuse;
}

.imgStyle{
    height: 200px;
    width: 200px;
    background-color: green;
}

.itemPriceStyle{
    background-color: chocolate;
}